<?xml version='1.0' encoding='ISO-8859-1'?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- Servlets -->
    <servlet>
        <servlet-name>mzjServlet</servlet-name>
        <servlet-class>org.mzj.test.openfire.MzjServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>broadcastServlet</servlet-name>
        <servlet-class>org.mzj.test.openfire.BroadcastServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>mzjServlet</servlet-name>
        <url-pattern>/mzj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>broadcastServlet</servlet-name>
        <url-pattern>/broadcast</url-pattern>
    </servlet-mapping>

</web-app>
